openapi: '3.0.0'
info:
  version: 1.0.0
  title: Ujjwal Anand API
  license:
    name: MIT
servers:
  - url: https://api.ujjwal-anand.com/v1
paths:
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a project
      operationId: createProjects
      responses:
        201:
          description: Project created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Info for a specific project
      operationId: showProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The id of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts:
    get:
      summary: List all contact methods
      operationId: listContacts
      parameters:
        - name: type
          in: query
          description: Filter contacts by type (email, social, etc.)
          required: false
          schema:
            type: string
      responses:
        200:
          description: An array of available contact methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Submit a contact inquiry
      operationId: submitContact
      responses:
        201:
          description: Contact inquiry submitted successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        status:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Contact:
      required:
        - type
        - value
      properties:
        type:
          type: string
        value:
          type: string
        label:
          type: string
    Contacts:
      type: array
      items:
        $ref: '#/components/schemas/Contact'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string